.service-institution {
  .pool-status--1 {
    color: @color-primary;
    background: @color-primary-light;
  }
  .pool-status--2 {
    color: @color-text-secondary;
    background: @color-bg-active;
  }
  .pool-status--3 {
    color: @color-danger;
    background: fade(@color-danger, 12%);
  }
}
