.page-container {
  padding: @spacing-xl;

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: @spacing-md;
    background: #fff;
    padding: @spacing-xl;
    border-radius: @radius-md;
  }

  &__title {
    margin: 0;
    .text-title-page();
  }

  &__desc {
    margin: @spacing-2xs 0 0;
    font-size: @font-size-body;
    line-height: @line-height-body;
    font-weight: @font-weight-body;
    color: @color-text-secondary;
  }

  &__body {
    min-height: 0;
  }
}
