
.message-manage__tabs {
  .ant-tabs-nav {
    margin-bottom: @spacing-md;
    background-color: #fff;
    padding-left: @spacing-md;
  }

  .ant-tabs-content-holder {
    margin-top: @spacing-md;
  }

  .ant-tabs-tabpane {
    .filter-bar {
      margin-top: 0;
    }

    .list-card {
      margin-top: @spacing-md;
    }
  }

  .ant-tabs-content {
    position: relative;
    .message-add-btn {
      position: absolute;
      right: 16px;
      top: -56px;
    }
  }
}
